textarea {
  margin-left:1%;
  width: 50%;             /* Full width */
  padding: 0.5%;           /* Adding some padding for aesthetics */
  box-sizing: border-box;  /* Making the padding not affect the total width */
  border: 1px solid #ccc;  /* Adding a border */
  border-radius: 4px;      /* Rounding the corners of the border */
  background-color: #f8f8f8; /* Adding a background color */
  font-size: 16px;         /* Increasing font size for readability */
  resize: horizontal;      /* Allowing only horizontal resize */
  overflow-x: auto;        /* Adding horizontal scroll on overflow */
  white-space: nowrap;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #35424a;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
}


h4 {
  display: flex;        /* Use flexbox to align items */
  align-items: center;  /* Center text vertically */
}
